<ion-header>
  <ion-toolbar>
    <ion-title class="centered-title">2025 contigo amor ♥</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="content">

      <h2 class="heart-declaration">Te amo 💗</h2>
      <h2 class="heart-declaration">Eres la mejor 💚</h2>


      <div class="image-row">
        <img src="assets/imagenes/TftMono.png" alt="TftMono" class="side-image"/>
        <img src="assets/imagenes/ConejoYChibi.jpg" alt="Conejo Chibi" class="chibi-image"/>
        <img src="assets/imagenes/Challenger.png" alt="Challenger" class="side-image"/>
      </div>


      <div class="corazon top-left"></div>
      <div class="corazon top-right"></div>
      <div class="corazon bottom-left"></div>
      <div class="corazon bottom-right"></div>
    </div>
  </div>
</ion-content>