<ion-header>
  <ion-toolbar>
    <ion-title>♥</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="hero">
  
    <h1 class="heart-declaration">¿Puedo ser tu novio? ❤</h1>

 
    <div class="button-container">
      <ion-button class="yes-button" (click)="irALovePage()">Sí ❤️</ion-button>
      <ion-button class="yes-button" (click)="irALovePage()">Sí ❤️</ion-button>
    </div>

    
    <div class="chibi-container">
      <img src="assets/imagenes/Chibi.png" alt="Foto mujer" class="chibi-image" />
      <div class="heart-bottom-left">
        <div class="heart">💚</div>
        <div class="heart">💚</div>
        <div class="heart">💚</div>
        <div class="heart">💚</div>
        <div class="heart">💚</div>
        <div class="heart">💚</div>
        <div class="heart">💚</div>
        <div class="heart">💚</div>
        <div class="heart">💚</div>
      
      </div>
      <div class="heart-bottom-right">
        <div class="heart">💚</div>
        <div class="heart">💚</div>
        <div class="heart">💚</div>
        <div class="heart">💚</div>
        <div class="heart">💚</div>
        <div class="heart">💚</div>
        <div class="heart">💚</div>
        <div class="heart">💚</div>
        <div class="heart">💚</div>
      </div>
      <div class="heart-bottom-image"> 💚💚💚💚💚💚💚💚💚💚💚💚
      </div>
      <img src="assets/imagenes/corona.png" alt="Corona" class="corona-image" />
    </div>
  </div>
</ion-content>